* {
  font-family: 'Times New Roman', serif;
  text-align: center;
  font-size: 22px;
  background-color: #D4E6B5;
}

body {
  border-left: 120px solid #31572C;
  min-height: 100vh;
}

header {
  font-size: 1.2em;
  font-weight: bold;
  border-top: 120px solid #31572C;
  
}

button {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 10px;
  font-size: 0.8em;
  font-weight: bold;
  border-color:black;
  border-width: 5px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 0;
}

.instructions {
  max-width: 1000px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px auto;
}

.radio {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 35px;
  align-self: center;
  border-color:black;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.choiceContainer {
  display: flex;
  top: 200px;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

#answerInput {
  position: absolute;
  left: 40%;
  text-align: center;
  border: 3px solid black;
  margin: 50px;
}

#app-title {
  display: flex;
  background-color: #31572C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: -100px 150px 0px 150px;
  color: white;
}

#submitSection {
  position: absolute;
  navigation: sticky;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 20px;
}

#multipleChoiceInput {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#rules {
  margin: 20px auto;
  font-size: 1.2em;
}

#home-button {
  position: fixed;
  top: 0px;
  right: 200px;
}

#questionNum {
  position: fixed;
  left: 30px;
  top: 150px;          
  font-size: 2em;
  font-weight: bold;
  background-color: lightgrey;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
}

#start-quiz-button {
  font-size: 2em;
  position: fixed;
  bottom: 40px;
  right: 100px;
  background-color: grey;
}

#scoreDisplay {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  bottom: 50px;
}

#currentQuestion {
  position: absolute;
  left: 150px;
  top: 150px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin: 20px;
  border-right: 100% solid transparent;
}

#quizCompleteMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.5em;
  font-weight: bold;
}